<div class="container">
  <%= render "shared/errors", obj: @user %>
  <br>
  <%= form_with(model: @user, local: true) do |f| %>
  <div class="container rounded bg-white">
    <div class="row">
      <div class="col-md-5">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">Profile Settings</h4>
          </div>  
            <div class="row mt-2">
              <div class="col-md-6">
                <%= f.label :First_name, class: "labels" %>
                <%= f.text_field :first_name, class: "form-control", placeholder: "first name" %>
              </div>
              <div class="col-md-6">
                <%= f.label :Last_name, class: "labels" %>
                <%= f.text_field :last_name, class: "form-control", placeholder: "last name" %>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <%= f.label :Username, class: "labels" %>
                <%= f.text_field :username, class: "form-control", placeholder: "username" %>
              </div>
              <div class="col-md-12">
                <%= f.label :Email, class: "labels" %>
                <%= f.email_field :email, class: "form-control", placeholder: "email" %>
              </div>
              <div class="col-md-12">
                <%= f.label :Password, class: "labels" %>
                <%= f.password_field :password, class: "form-control", placeholder: "********" %>
              </div>
              <div class="col-md-12">
                <%= f.label :Phone, class: "labels" %>
                <%= f.telephone_field :phone_number, class: "form-control", placeholder: "phone number" %>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-5 mt-5 mb-5">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <%= gravatar_for @user, size: 200 %><br><span class="font-weight-bold"><%=@user.username%></span><span class="text-black-50"><%= @user.email %></span><span> </span>
            <%= f.submit(@user.new_record? ? "Sign up" : "Update account", class: "mt-2 btn btn-primary btn-lg col-5") %>
          </div>
      </div>
    </div>
  </div>
  <% end %>
</div>