<div id="page-content">
  <div class="container">
    <%= render "shared/errors", obj: @user %>
    <br>
    <div class="rounded bg-white">
      <div class="row">
        <div class="col-md-12 mt-5 mb-5">
            <div class="d-flex flex-column align-items-center text-center">
              <%= gravatar_for @user, size: 200 %>
              <br>
              <span class="font-weight-bold"><%=@user.first_name%> <%=@user.last_name%> (<%=@user.username%>)</span>
              <span class="text-black-50">&#9993; <%= @user.email %></span><span> </span>
              <span class="text-black-50">&#9742; <%= number_to_phone(@user.phone_number) %></span><span> </span>
              <br>
              <% if current_user == @user %>
                <div><%= link_to "List of Current Projects", projects_path(@user.projects) %></div>
                <div><%= link_to "Create New Project", new_project_path %></div>
                <br>
                <div>
                  <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-outline-info" %>
                  <%= link_to "Logout", logout_path, class: "btn btn-outline-info" %>
                </div>
              <%end%>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>