<div id="page-content">
  <div class="container"> 
    <div class="about-section">
      <h1 class="mb-5 mt-5">QuickD$ide</h1>
      <p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Mauris sed augue vestibulum, ornare metus quis, aliquam tellus. 
      Phasellus molestie dui eget neque sodales, sed auctor elit molestie. 
      Cras eget blandit sapien. Aliquam sapien turpis, fermentum sed lectus a, mattis tincidunt urna.
      Sed auctor tellus rutrum massa dignissim, quis convallis ante tristique. 
      Nullam dapibus accumsan est vitae congue. Nulla lacinia pretium varius. 
      Curabitur vitae suscipit odio. Etiam viverra velit dolor, nec blandit libero pellentesque et. 
      Donec nisl leo, tincidunt a porttitor mollis, lacinia in nisi. 
      Sed finibus quis mi et pellentesque. Morbi id tempor ipsum. In in euismod nisl. 
      Aliquam eget dui a elit ultrices sagittis. Ut rutrum mauris rutrum, bibendum sapien nec, 
      placerat felis.

      Aliquam vel pulvinar sem, non faucibus elit. Pellentesque iaculis congue lectus, 
      sit amet convallis magna laoreet eu. Donec volutpat tempor augue, mollis lobortis ex efficitur 
      eu. Morbi condimentum bibendum vulputate. Fusce egestas lacinia urna, eu viverra metus 
      ullamcorper tincidunt. Etiam et efficitur diam. Nam convallis, eros at pretium efficitur, 
      magna elit rhoncus odio, id convallis turpis quam vel turpis. Proin accumsan, 
      ipsum commodo viverra interdum, risus sem sollicitudin nulla, eu lobortis diam diam a ligula. 
      Praesent vitae tempus augue, sed tempus tellus. In lorem orci, porttitor interdum velit id, 
      sodales aliquam quam. Vestibulum sit amet iaculis dui. Ut tristique diam non leo luctus 
      ullamcorper. Maecenas luctus aliquam lorem, et bibendum quam imperdiet quis. 
      Nunc hendrerit odio eu nunc convallis, quis interdum ipsum gravida. Phasellus a ultrices orci, 
      vitae euismod diam.
      Nulla facilisi. Integer at ligula non dui faucibus feugiat nec vitae elit. 
      Proin id augue ut eros blandit pretium. Integer hendrerit eu orci id elementum. 
      Nullam non interdum purus. Pellentesque laoreet ipsum eget tellus dignissim auctor. 
      In sodales augue quis tellus pulvinar eleifend.</p>
      <br>
      <%= link_to 'Projects listing', projects_path %> |
      <%= link_to 'Home page', root_path %>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <%= image_tag("Mohammad.jpg", width: 250)%>
          </div>
          <div class="container">
            <div style="text-align:center"> 
              <h2>Mohammad Shahri</h2>
              <p class="title">CEO & Co-Founder <br><span>mshahri@qdside.com</span></p>
            </div>
            
            <p style="text-align:justify">Etiam imperdiet, turpis vitae interdum aliquet, quam nulla convallis enim, 
            accumsan gravida justo odio nec diam. Curabitur maximus sed odio non iaculis. 
            Vivamus tortor tellus, gravida et ipsum quis, consequat scelerisque ante. 
            Aliquam lobortis sit amet tortor id condimentum. 
            Vivamus id leo accumsan, luctus magna ac, sagittis quam. Sed commodo diam sed augue faucibus, 
          in convallis odio efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
            posuere cubilia curae. Etiam imperdiet, turpis vitae interdum aliquet, quam nulla convallis enim, 
            accumsan gravida justo odio nec diam. Curabitur maximus sed odio non iaculis. <br> <br> <br></p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <%= image_tag("mehdi.jpg", width: 250)%>
          </div>
          <div class="container">
          <div style="text-align:center"> 
            <h2>Mehdi Bahonar</h2>
            <p class="title">President, CTO & Co-Founder <br><span>mbahonar@qdside.com</span></p>
          </div>
            
            <p style="text-align:justify">Donec dictum sed metus aliquet ullamcorper. Vivamus pharetra erat vel 
            sapien facilisis vestibulum. Morbi sollicitudin tempus magna nec aliquam. Sed interdum ligula eget 
            placerat maximus. Suspendisse a justo tempor augue cursus interdum id in tellus. Mauris sed ligula ac 
            lacus commodo hendrerit quis eget lorem. Aenean convallis ex id diam ornare suscipit. Suspendisse tortor 
            nunc, mattis a finibus ut, tincidunt eu sem. Duis id leo sed nulla dapibus iaculis at et nisi. Quisque 
            feugiat nisl mauris, sed porttitor tellus fringilla id. Integer ultrices sollicitudin odio, non aliquet 
            risus venenatis eget. Phasellus et justo vitae ligula feugiat venenatis. Nunc lobortis, turpis volutpat 
            suscipit placerat, enim nisi fermentum nisl. </p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <%= image_tag("john.jpg", width: 215)%>
          </div>
          <div class="container">
          <div style="text-align:center"> 
            <h2>Chandler Bing</h2>
            <p class="title">CFO <br><span>cbing@qdside.com</span></p>
          </div>
            
            <p style="text-align:justify">Aliquam vel pulvinar sem, non faucibus elit. Pellentesque iaculis congue 
            lectus, sit amet convallis magna laoreet eu. Donec volutpat tempor augue, mollis lobortis ex efficitur eu. 
            Morbi condimentum bibendum vulputate. Fusce egestas lacinia urna, eu viverra metus ullamcorper tincidunt. 
            Etiam et efficitur diam. Nam convallis,  ipsum commodo viverra interdum, risus sem 
            sollicitudin nulla, eu lobortis diam diam a ligula. Praesent vitae tempus augue, sed tempus tellus. 
            In lorem orci, porttitor interdum velit id, sodales aliquam quam. . Maecenas luctus aliquam lorem, et bibendum quam imperdiet 
            quis. Nunc hendrerit odio eu nunc convallis, quis interdum ipsum gravida. Phasellus a ultrices orci, 
            vitae euismod diam. </p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <%= image_tag("reza.jpg", width: 250)%>
          </div>
          <div class="container">
            <div style="text-align:center"> 
              <h2>Reza Rahman</h2>
              <p class="title">Vice President of Sales <br><span>rrahman@qdside.com</span></p>
            </div>
            
            <p style="text-align:justify">Donec dictum sed metus aliquet ullamcorper. Vivamus pharetra erat vel 
            sapien facilisis vestibulum. Morbi sollicitudin tempus magna nec aliquam. Sed interdum ligula eget 
            placerat maximus. Suspendisse a justo tempor augue cursus interdum id in tellus. Mauris sed ligula ac 
            lacus commodo hendrerit quis eget lorem. Aenean convallis ex id diam ornare suscipit. Suspendisse tortor 
            nunc, mattis a finibus ut, tincidunt eu sem. Duis id leo sed nulla dapibus iaculis at et nisi. Quisque 
            feugiat nisl mauris, sed porttitor tellus fringilla id. Integer ultrices sollicitudin odio, non aliquet 
            risus venenatis eget. Phasellus et justo vitae ligula feugiat venenatis. Nunc lobortis, turpis volutpat 
            suscipit placerat, enim nisi fermentum nisl.</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <%= image_tag("abu-kian.jpg", width: 195)%>
          </div>
          <div class="container">
          <div style="text-align:center"> 
            <h2>Nick Abu-Kian</h2>
            <p class="title">Vice President of Marketing <br><span>nabukian@qdside.com</span></p>
          </div>
            
            <p style="text-align:justify">
            
            Etiam imperdiet, turpis vitae interdum aliquet, quam nulla convallis enim, 
            accumsan gravida justo odio nec diam. Curabitur maximus sed odio non iaculis. 
            Vivamus tortor tellus, gravida et ipsum quis, consequat scelerisque ante. 
            Aliquam lobortis sit amet tortor id condimentum. 
            Vivamus id leo accumsan, luctus magna ac, sagittis quam. Sed commodo diam sed augue faucibus, 
          in convallis odio efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
            posuere cubilia curae. Etiam imperdiet, turpis vitae interdum aliquet, quam nulla convallis enim, 
            accumsan gravida justo odio nec diam. Curabitur maximus sed odio non iaculis. <br> <br> <br> </p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <%= image_tag("pheobe.jpg", width: 195)%>
          </div>
          <div class="container">
          <div style="text-align:center"> 
            <h2>Phoebe Buffay</h2>
            <p class="title">Director of People Operations <br><span>fbuffay@qdside.com</span></p>
          </div>
            
            <p style="text-align:justify">Aliquam vel pulvinar sem, non faucibus elit. Pellentesque iaculis congue 
            lectus, sit amet convallis magna laoreet eu. Donec volutpat tempor augue, mollis lobortis ex efficitur eu. 
            Morbi condimentum bibendum vulputate. Fusce egestas lacinia urna, eu viverra metus ullamcorper tincidunt. 
            Etiam et efficitur diam. Nam convallis,  ipsum commodo viverra interdum, risus sem 
            sollicitudin nulla, eu lobortis diam diam a ligula. Praesent vitae tempus augue, sed tempus tellus. 
            In lorem orci, porttitor interdum velit id, sodales aliquam quam. . Maecenas luctus aliquam lorem, et bibendum quam imperdiet 
            quis. Nunc hendrerit odio eu nunc convallis, quis interdum ipsum gravida. Phasellus a ultrices orci, 
            vitae euismod diam. </p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

