<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Access Level</th>
      <th>Owner</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.title,  project_path(project) %></td>
        <td><%= project.description.truncate(70) %></td>
        <% access_level = user_access_level(current_user, project)%>
        <td><%= access_level %></td>
        <td><%= link_to project.owner.username, user_path(project.owner) %></td>
        <td><%=link_to "view", project_path(project)%></td>
        <% access_level_int = ProjectUser.access_levels.fetch(access_level, -1) %>
        <% if access_level_int > 0 %>
          <td><%=link_to "edit", edit_project_path(project)%></td>
          <td><%=link_to "invite", new_project_invitation_path(project_id: project.id)%></td>
          <% if access_level == "owner" %>
            <td><%= link_to "delete", project_path(project), 
              data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }%>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>