<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
            </a>
            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span>
            </a>
          </li>
          <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span>
            </a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span>
            </a>
            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span>
            </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown pb-4">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1">loser</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col py-3">



    <div id="page-content">
      <div class="container">
        <div class="row">
          <div id="content" class="ml-3">
            <div class="card shadow mb-5 bg-white rounded">
              <div class="card-header font-italic">
                <h4 class="text-center mt-4"><%= @project.title %></h4>
              </div>
              <div class="card-body text-left">
                <div><%= simple_format(@project.description) %></div>
              </div>
              <div class="card-footer text-muted">
                <small>Created <%= time_ago_in_words(@project.created_at) %> ago, edited <%= time_ago_in_words(@project.updated_at) %> ago</small>
              </div>
            </div>
            <div id="home" class="content-section">
              <!-- Home content here -->
            </div>
            <div id="assets" class="content-section">
              <div class="card shadow mb-5 bg-white rounded">
                <div class="card-header font-italic">
                  <h4 class="text-center mt-4">Asset Management</h4>
                </div>
                <div class="card-body text-center">
                  <%= link_to "Create New Asset", new_project_asset_path(@project), class: "btn btn-outline-info" %>
                  <br>
                  <% if @project.assets.any? %>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Asset</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>Type</th>
                          <th>Region</th>
                          <th>Company</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @project.assets.each do |asset| %>
                          <tr>
                            <td><%= asset.name %></td>
                            <td><%= asset.start_date %></td>
                            <td><%= asset.end_date %></td>
                            <td><%= asset.asset_type %></td>
                            <td><%= asset.region %></td>
                            <td><%= asset.company_name %></td>
                            <td>
                              <%= link_to "Edit", edit_project_asset_path(@project, asset) %>
                              <%= link_to "Delete", project_asset_path(asset), data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  <%end%>
                </div>
                <div class="card-footer text-muted">
                  <small>
                    Project Start Date: <%= @project.start_date %><br>
                    Monthly Resolution Length: <%= @project.monthly_resolution_end_year %> year(s)<br>
                    Project Length: <%= @project.length %> year(s)
                  </small>
                </div>
              </div>
            </div>
            
            <div class="card shadow mb-5 bg-white rounded">
              <div class="card-header font-italic">
                <h4 class="text-center mt-4">Users</h4>
              </div>
              <div class="card-body text-center">
                <%= render "users/users_table" %>
                <% access_level = user_access_level(current_user, @project) %>
                <% access_level_int = ProjectUser.access_levels.fetch(access_level, -1) %>
                <% if access_level_int > 0 %>
                  <%= link_to "Edit", edit_project_path(@project), class: "btn btn-outline-info" %>
                  <%= link_to "Invite User", new_project_invitation_path(project_id: @project.id), class: "btn btn-outline-info" %>
                  <% if access_level == "owner" %>
                    <%= link_to "Delete", project_path(@project), class: "btn btn-outline-danger", data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
                  <% end %>
                <% end %>
              </div>
            </div>


            <div id="tax-models" class="content-section">
              <!-- Tax Models content here -->
            </div>
            <div id="component-definitions" class="content-section">
              <!-- Component Definitions content here -->
            </div>
            <!-- Add more content sections as needed -->
          </div>
          <%= link_to '<< Return to projects listing >>', projects_path %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
