<h1>show project details</h1>

<p><strong>title: </strong><%= @project.title %></p>
<p><strong>description: </strong><%= @project.description %></p>

<br>
<p>
  <%= link_to 'Edit', edit_project_path(@project) %> | <%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: "Are you sure?" } %> | <%= link_to 'Return to projects listing', projects_path %>
</p>